* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: cursive; */
  /* font-family: 'Quintessential', cursive;'Dancing Script', cursive; */
  /* font-weight: bolder; */
}
.hideScrollBar {
  overflow-x: hidden;
  overflow-y: scroll;
}
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

#navbar {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10vh;
  background: #00203fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
}
#companyname {
  text-align: center;
  color: #00203fff;
  font-size: 3vw;
  height: 8vh;
  padding: 0.3vw;
  display: flex;
  align-items: center;
  background-color: #adefd1ff;
  margin-left: 5vw;
  border-radius: 5px;
  transition: transform 0.2s;
  /* border-bottom: none; */
  text-decoration: none;
  /* font-family: "Festive", "cursive"; */
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Cookie', cursive;

  font-weight: 600;
  /* letter-spacing: 6px; */
}
#companyname:hover {
  transform: scale(1.1);
}
#nav-right-side {
  position: fixed;
  right: 2vw;
  top: 1vw;
  display: flex;
  justify-content:center;
  flex-direction: column;
  text-align: center;
  width: 8vw;
}
.icon {
  font-size: xx-large;
  color: black;
}
.icon:hover{
  color:#adefd1ff;
}
.list-of-opt{
color: aqua;
/* z-index: 30; */
}
.drop-down-list{
  display: none;
  flex-direction: column;
  /* z-index:444 ; */
  margin-top: 20px;
}
#logout-btn{
margin-top: 1vh;
}
.button {
  box-sizing: content-box;
  height: 4vh;
  background-color: #adefd1ff;
  width: 10vw;
  transition: transform 0.2s;
}
.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.grid-item {
  display: grid;
  grid-column: 2;
  grid-template-columns: 50% 50%;
  height: 60vh;
}
#searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vw;
  margin: auto;
  margin-top: -5px;
  width: 30vw;
  border-radius: 20px;
}
#searchbar input {
  width: 80%;
  height: 6vh;
  padding: 5px;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1px;
}
/* for placeholder styling */
#searchbar input::-webkit-input-placeholder {
  /* color: #adefd1ff; */
  color: black;
  font-weight: bolder;
  font-size: 1.2rem;
  /* align-items: center; */
  text-align: center;
}
.search-icon {
  background-color: #00203fff;
  padding: 10px;
  color: #adefd1ff;
  border-radius: 100%;
  transition: transform 0.5s ease-in-out;
}
.search-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}
#slider {
  overflow: hidden;
  width: 50vw;
  /* position: relative;
  top: 0px;
  height: 60vh;
  padding: 0;
  margin: 0;
  border: 1px; */
}
/* #slider ul {
  position: relative;
  list-style: none;
  height: 60vh;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  right: 0;
} */
#slider ul li img {
  width: 50vw;
}
#slider ul li {
  position: relative;
  height: 100%;
  float: left;
}
/* for categories bar */
#categories-bar {
  position: sticky;
  top: 10vh;
  background-color: white;
  padding: 5px 0 5px 4vh;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  border: 1px solid;
  font-weight: bolder;
  z-index: 1;
}
.categories-button {
  font-size: larger;
  padding: 0 2vw;
  transition: transform 0.1s;
  color: #00203fff;
}
.categories-button:hover {
  transform: scale(1.2);
  color: green;
  cursor: pointer;
}
.catedories-section {
  display: none;
}
/* if clicked in given option of categories show a cliked category*/
.show-categories-section {
  display: grid;
  grid-template-columns: 45vw 45vw;
  grid-gap: 20px;
  padding: 4vh 50px;
}
.box {
  background-color: rgb(161, 207, 187);
}
.box:hover {
  background-color: #adefd1ff;
  color: black;
}
#for-grid-50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid black;
  box-shadow: 5px 10px;
}
.imgFoodSection {
  overflow: hidden;
  border-radius: 5px 50px 5px;
  margin: 5px;
}
.imageOfFoods {
  width: 100%;
  transition: transform 1s ease-in-out;
  z-index: 10000;
}
.imageOfFoods:hover {
  transform: scale(1.5);
  z-index: -100;
}
#companyname:hover,
#login:hover,
#register:hover {
  background-color: rgb(113, 255, 191);
  cursor: pointer;
}
/* this css is for the part which is shown after clicking ordernow button */
.margin-3vh{
  /* margin: 3vw 0 0 3vw; */
  margin: auto;

}
.for-dancingScript-font{
/* font-family: 'festive'; */
font-family: 'Dancing Script', cursive;
font-family: 'Redressed', cursive;

font-size: 1.2rem;
}
.margin-1vh {
  margin: 1vh;
}

.for-padding {
  padding: 4px 5px;
  width: 140px;
}

.qty-price-box {
  display: none;
}
.for-hide-show {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #c5c5c5;
  box-shadow: 5px 5px;
  width: 20%;
  border-radius: 10px;
}
.inputTagOfOrder {
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;
  /* font-family: 'festive';
  font-size: large; */
}
/* for price */
.totalAmt {
  width: 90px;
}
#order-button {
  width: 50%;
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  margin: auto;
  /* margin-bottom: 5px;
  margin-top: 5px ; */
  background-color: rgb(161, 207, 187);
  transition: transforom 0.2s ease-in-out;
  border: 2px outset black;
}
#order-button:hover {
  background-color: #adefd1ff;
  transform: scale(1.2);
}
.center {
  margin: 5px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #orderQuantity{
width: 10vw;
} */
/* for footer */
.formarginTB {
  margin: 20px 0 0 0;
  font-size: 1.2rem;
  padding: 10px;
}
.footerContactUsAndConnect {
  height: 37vh;
  padding-bottom: 10px;
  background-image: none;
}
#connectWithUs {
  border-right: 2px solid #adefd1ff;
}
/* last for register */
/* :root {
  --code-color: darkred;
  --code-bg-color: #f6f6f6;
  --code-font-size: 14px;
  --code-line-height: 1.4;
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
} */

.content-except-register-form {
  overflow-x: hidden;
}

#registration-components {
  position: fixed;
  top: 16vh;
  left: 50%;
  transform: translate(-50%);
  margin: auto;
  /* position: none; */
  height: 60vh;
  width: 30vw;
  border-radius: 5px;
  background-color: white;
  padding: 4vw 2vw 0 2vw;
  background-color: white;
  border: 1px solid black;
  overflow-y: scroll;
  z-index: 1;
  /* background-color:red; */
}

/* for thinner scrollbar */
#registration-components::-webkit-scrollbar {
  width: 12px;
}

#registration-components::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

#registration-components::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 2px solid var(--scroll-bar-bg-color);
}

#for-form {
  display: none;
}

.icon-close {
  position: absolute;
  right: 1vh;
  top: 1vh;
  transition: transform 0.2s;
}

.icon-close:hover {
  cursor: pointer;
  transform: scale(1.5);
}

/* .transitionClass {
/* opacity: 1; */
/* visibility: visible; */
/* } */

.avatar {
  position: fixed;
  top: 8vh;
  left: 45vw;
  height: 15vh;
  border-radius: 50%;
  overflow: hidden;
  z-index: 100;
}

.coverClass {
  width: 100%;
  height: 4vh;
  border: none;
  border: 1px solid black;
  outline: none;
  padding: 0 5px;
  letter-spacing: 1px;
}

.component {
  margin-top: 4vh;
  /* height: 8vh; */
  /* padding: 4vh 0; */
}
.for-center-vertically-horizontally {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hovering-effect {
  transition: transform 0.2s ease-in-out;
}
.hovering-effect:hover {
  transform: scale(1.2);
  cursor: pointer;
}
/* for removing arrow key in input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}